@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap');

:root{
  --background: #26323a;  
  --secondaryColor: #11421c; 
  --backupWhite: #EFEFEF; 
  --headerColors: #095519;
  --ctaColor: #eb872b;
  --background2: #747679; 
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

img{
  width: 85%;
  
}

a{
  text-decoration: none;
  ;
}

.big-wrapper {
  padding: 1.7rem 0 2rem; 
  width: 100%;
  /* max-height: 100vh; */
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.big-wrapper.active .hamburger-menu .bar{
  background-color: transparent;

}

.big-wrapper.active .bar::before{
  transform: translateY(0) rotate(-45deg);
}
.big-wrapper.active .bar::after{
  transform: translateY(0) rotate(45deg);
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 75px;
  margin-right: .6rem;
  margin-top: -0.6rem;
}

.container {
  position: relative;
  max-width: 150rem;
  width: 100%; 
  margin: 0 auto; 
  padding: 0 3rem;
  z-index: 10;

}



header{
  position: relative;
  z-index: 70;
}


header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo h3{
  font-size: 1.55rem;
  line-height: 1.2;
  color: var(--headerColors); 
  font-weight: 700;
} */


.overlay{
  display: none;
}

.links ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--backupWhite); 
  margin-left: 4.5rem;
  display: inline-block;
}

.links a:hover{
color: var(--ctaColor);
transform: scale(1.05);
}

.btn{
  display: inline-block;
  padding: .9rem 1.9rem; 
  color: var(--backupWhite) !important;
  background-color: var(--ctaColor);
  border-radius: 16px;
  /* text-transform: capitalize; */
  transition: 0.3s;


}

.btn:hover{
background-color: var(--backupWhite);
color: var(--secondaryColor) !important; 
transform: scale(1) !important;
}

.hamburger-menu{
  position: relative;
  z-index: 99 ;
  width: 2rem; 
  height: 2rem; 
  /* background-color: rgb(122, 51, 51); */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar{
  position: relative;
  width: 100%; 
  height: 3px; 
  background-color: #fff; 
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before, .bar::after{
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(+8px);
}

.showcase-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title{
  font-size: 1.4rem;
  color: var(--backupWhite);
  padding-left: 10rem;
}

.left {
padding-left: 2rem;


}

.left h1{
  font-size: 3.5rem;
  
}

.header-span{
  color: var(--headerColors);
}

.cta a{
  margin-top: 20px;
  
}
.cta {
  padding-left: 10rem; 
}

.big-title h3{
  font-size: 1.2rem;
  font-weight: 200;
}

.right p{
  width: 50%;
  text-align: center;
}

.right{
  padding-top: 35px;
  text-align: center;
  padding-right: 3rem;
}

.first-header{
  line-height: 0.9;
}

.color-span{
  color: var(--ctaColor);
}

.about-me {
  width:100%;
  display: flex;
  justify-content: center; 

  
}

.about-me p {
  font-size: 1.2rem; 
  /* text-align: center; */
  
}

.wrapper-about h3{
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center; 
  color: var(--headerColors);

}

.wrapper-about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  min-height: 50vh;   
  background-color: rgb(255, 255, 255);
  color:black;
}



.text-are-about{
  text-align: left;
  width: 50%;
  padding-left: 12%;
}


#lives{
  color: var(--ctaColor);
  display: inline-block;
  padding-left: 0.6rem;
  text-decoration: underline;
}

#lives:hover{
color: var(--headerColors);
font-size: 1.4rem;
}
/**Projects*/

.project-wrapper{
  width: 100%;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  /* background-color: var(--background); */
}
.project-wrapper h3{
  color: var(--headerColors); 
  text-align: center;
  padding-top: 3rem;
  font-size: 2.5rem;
}




footer{
  text-align: center;
}








@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen  and (max-width: 870px) {
  
  .showcase-area{
    grid-template-columns: repeat(1, 1fr);
  }

  .showcase-area h1{
    line-height: 1.5;
    font-size: 2.5rem;
  
  }

  .showcase-area h3{
    line-height: 1.5;
  }

  .right {
    margin-left: 3rem;
  }

  img{
    width: 90%;
  }

  .hamburger-menu{
    display: flex;

  }

  .links{
    position: fixed;
    top: 0; 
    right: 0; 
    max-width: 450px;
    height: 100%;
    width: 100%;
    background-color: var(--ctaColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
   
    transform: translateX(100%);
    
  }

  .links ul{
    flex-direction: column ;
  }

  .links a{
    color:#fff;
    margin-left: 0;
    padding: 2rem 0;
  }
  .links .btn {
    background: none;
  }

  .links a:hover{
    color: var(--headerColors)
  }

  .overlay{
    display: block;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0 ,0 ,0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay{
    pointer-events: all;
    opacity: 1;
  }
    .cta {
      padding-left: 2.5rem; 
      padding-top: 1.6rem; 
      padding-bottom: 1.6rem;

    }

    .big-title {
      padding-left: 0; 
    }

    .about-me {
      width:100%;
      display: flex;
      justify-content: center; 
    }

    .text-are-about{
      text-align: left;
        width: 80%;
}

.about-me p {
  font-size: 1.2rem; 
  padding-left: 0rem;
}


}