@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap');

:root{
  --background: #26323a;  
  --secondaryColor: #11421c; 
  --backupWhite: #EFEFEF; 
  --headerColors: #095519;
  --ctaColor: #eb872b;
  --background2: #747679; 
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

#myBtn {
 
  width: 100px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 5%;
  
  z-index: 0; 
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: var(--ctaColor);
  background: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#git{
  padding-top: 8px;
  color: var(--ctaColor)
}
#git:hover{
  cursor: pointer;
  color: white;
}




#myBtn:hover {
  width: 110px;
 
}

p{
  color: var(--background);
}

img{
  width: 85%;
  
}

a{
  text-decoration: none;
  
}

.big-wrapper {
  padding: 1.7rem 0 2rem; 
  width: 100%;
  /* max-height: 100vh; */
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.big-wrapper.active .hamburger-menu .bar{
  background-color: transparent;
  

}

.big-wrapper.active .bar::before{
  transform: translateY(0) rotate(-45deg);
}
.big-wrapper.active .bar::after{
  transform: translateY(0) rotate(45deg);
  
}

.big-wrapper .active 

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 75px;
  margin-right: .6rem;
  margin-top: -0.6rem;
}

.container {
  position: relative;
  max-width: 150rem;
  width: 100%; 
  margin: 0 auto; 
  padding: 0 3rem;
  z-index: 10;

}



header{
  position: relative;
  z-index: 70;
}


header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo h3{
  font-size: 1.55rem;
  line-height: 1.2;
  color: var(--headerColors); 
  font-weight: 700;
} */


.overlay{
  display: none;
}

.links ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--backupWhite); 
  margin-left: 4.5rem;
  display: inline-block;
}

.links a:hover{
color: var(--ctaColor);
transform: scale(1.05);
}

.btn{
  display: inline-block;
  padding: .9rem 1.9rem; 
  color: var(--backupWhite) !important;
  background-color: var(--ctaColor);
  border-radius: 16px;
  /* text-transform: capitalize; */
  transition: 0.3s;


}

.btn:hover{
background-color: var(--backupWhite);
color: var(--secondaryColor) !important; 
transform: scale(1) !important;
}

.hamburger-menu{
  position: relative;
  z-index: 99 ;
  width: 2rem; 
  height: 2rem; 
  /* background-color: rgb(122, 51, 51); */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar{
  position: relative;
  width: 100%; 
  height: 3px; 
  background-color: #fff; 
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before, .bar::after{
  content: ""; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(+8px);
}

.showcase-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title{ 
  color: var(--backupWhite); 
}

.left {
margin-left: 6rem;
padding-left: 2rem; 
display: flex;
flex-direction: column;
/* padding-left: 15rem; */




}

.left h1{
  font-size: 4.5rem;
  
}

.header-span{
  color: var(--headerColors);
}

.cta a{
  margin-top: 50px;
  
  
}


.big-title h3{
  font-size: 1.3rem;
  font-weight: 200;
}

.right p{
  width: 50%;
  text-align: center;
}

.right{
  padding-top: 35px;
  text-align: center;
  padding-right: 3rem;
}

.first-header{
  line-height: 0.9;
}

.color-span{
  color: var(--ctaColor);
}

.about-me {
  width:100%;
  display: flex;
  justify-content: center; 

  
}

.about-me p {
  font-size: 1.2rem; 
  /* text-align: center; */
  color: var(--secondaryColor);
}

.wrapper-about h3{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center; 
  color: var(--ctaColor);


}

.wrapper-about{
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  min-height: 50vh;   
  /* background-color: rgb(255, 255, 255); */
  background-color: white;
  
}

#profile-pic{
  width: 10%;

  padding-left: 1.2rem;
  margin-right: 25px;
}



.text-are-about{
  text-align: left;
  width: 50%;
  padding-left: 13%;
  padding-right: 5%;
}


#lives{
  color: var(--headerColors);
  display: inline-block;
  /* padding-left: 1.2rem;  */
  text-decoration: underline;
}

#lives:hover{
color: var(--headerColors);
font-size: 1.4rem;
}

/* skills */
.row{
display: flex;
justify-content: center;
margin-bottom: 5rem;

}

.card1{
  width: 70px;
  height: 80px;
  white-space: nowrap;
  float: left;
  margin-left: 35px;
  font-size: 1rem;
  text-align: center;

}

.skill-header{
  margin-top: 10vh;
  /* background-color: #095519; */
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 15px;
  color: var(--headerColors)
}

.skill-header h3{
  color: var(--ctaColor);
  padding-top: 25px;
  font-size: 2.5rem;
  
}



.card1 h3{
  padding-bottom: 4px;
  color: var(--background);
}

.card-content p{
  color: white;
}

.card-content a{
  color: white;
}

.card-content h2 {
  color: var(--ctaColor);
}


/**Projects*/
#card-header{
  color: var(--ctaColor);
}

.project-wrapper{
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  background-color:var(--background);
  
  /* background-color: rgb(255, 255, 255); */
  /* background-color: var(--background); */
  
}
.project-wrapper h3{
  color: var(--ctaColor); 
  text-align: center;
  padding-top: 3rem;
  font-size: 2.5rem;
  margin-bottom: 25px;
 
}

.project-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: min-content;
  padding: 20px;
  margin: 0 20px;
  transition: .4s ease;
  text-align: center;
 
}

.card h2{
  color: var(--background);
}




.project-wrapper img{
  height: 250px;
  width: 300px;
  border-radius: 30px;

}




footer{
  text-align: center;
  background-color: var(--background);
  color: white;
}

#li-icon{
  color: #eb872b;
  font-size: 1.4rem;
  padding-left: 5px;
}







@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen  and (max-width: 870px) {
  

 /* navbar area  */
.container{
  padding-left: 1rem;
}

/* bigwrapper area */
  .left {
    min-width: 100%;
    margin-left: 0;
}
  
  .showcase-area{
    grid-template-columns: repeat(1, 1fr);
}

.showcase-area h1{
  font-size: 2.1rem;
}
.showcase-area h3{
  font-size: 1rem;
 
  
}

.btn{
  width: 100%;
  
}
.cta{
  text-align: center;
}

.big-wrapper {
  padding-bottom: 5rem;
}

/* .text{
 
  display: flex;
  justify-content: center;
  align-items: center;
} */

 
  .right {
    margin-left: 3rem;
  }

  img{
    width: 90%;
  }

  .hamburger-menu{
    display: flex;

  }

  .links{
    position: fixed;
    top: 0; 
    right: 0; 
    max-width: 450px;
    height: 100%;
    width: 100%;
    background-color: var(--ctaColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
   
    transform: translateX(100%);
    
  }

  .links ul{
    flex-direction: column ;
  }

  .links a{
    color:#fff;
    margin-left: 0;
    padding: 2rem 0;
  }
  .links .btn {
    background: none;
  }

  .links a:hover{
    color: var(--headerColors)
  }

  .overlay{
    display: block;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0 ,0 ,0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay{
    pointer-events: all;
    opacity: 1;
  }
   
  
    .big-title {
      padding-left: 0; 
    }

    .about-me {
      width:100%;
      display: flex;
      justify-content: center; 
    }

    .text-are-about{
      text-align: left;
        width: 80%;
        padding-left: 20px;
        
}

.about-me p {
  font-size: 1.1rem; 
  padding-left: 0rem;
}

#profile-pic{
  width: 50%;
 
}



.card1{
  width: 50px;
  height: 50px;
  white-space: nowrap;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 0.6rem;
  text-align: center;
  /* color: var(--ctaColor); */

}
 .project-container{
  flex-wrap: wrap;
  justify-content: center;
 }

 .card{
  margin: 10px;
 }


 .skill-header h3{
margin-top: 20px;

 }

 .project-wrapper{

  height: 100%;
  width: 100%;
 }

 #projects {
margin-top: 0px;
 }

 
#myBtn {
 
  width: 60px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 1px; 
}

#myBtn:hover {
  width: 80px;
 
}

#lives {
  margin-bottom: 20px;
}



}